In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=3e0c3908f6c539d645f6c6c220320de9a89a1a5719a6be757cb659a4bf81eb16
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
import pyspark
from pyspark.sql.functions import rand
import datetime

from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType,FloatType, DoubleType


from pyspark import SparkContext, HiveContext
from pyspark.sql import SparkSession
import time
from pyspark.sql.functions import *

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/11 00:58:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Global Variables

In [2]:
MoneyMule = 50.00

In [3]:
code_not_to_use = [1, 18, 111, 30000, 31813, 32190, 33205, 33206, 37505, 99999 ]

high_risk_categories = ['VH', 'HI', 'PE']

so_scr = ['SO', 'SCR']

## Criteria

In [4]:
A_Criteria = 499.99
B_Criteria = 499.99
C_Criteria = 4999.99
D_Criteria_Lower = 2499.99
D_Criteria_Upper = 4999.99
E_Criteria= 4999.99
F_Criteria = 499.99
G_Criteria = 2499.99

Y_Criteria = 500.00
Z_Criteria = 5999.99

Minor = 16
MuleLower = 17
MuleUpper = 25

## Read the files

In [6]:
member_path='/Users/Marium_Faheem/Library/CloudStorage/OneDrive-McKinsey&Company/Desktop/learning/maham-df/ScionMemberList.csv'
trans_path='/Users/Marium_Faheem/Library/CloudStorage/OneDrive-McKinsey&Company/Desktop/learning/maham-df/ScionTransactionList.csv'

In [8]:
member_df = spark.read.option("header", True).csv(member_path)

trans_df = spark.read.option("header", True).csv(trans_path)

# Read Scion Transaction File

In [9]:
trans_df.show()

+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+----------------+----------------+
|Account Number|Financial Month|     Date|Transaction No|Transaction Type|Trans Type Category|    Transaction Note|Trans In Amount |Trans Out Amount|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+----------------+----------------+
|             7|         23-Dec|01-Dec-23|      46980801|              SD|                EFT|       Not Available|             400|               0|
|             7|         23-Dec|08-Dec-23|      46997807|              SD|                EFT|       Not Available|             400|               0|
|             7|         23-Dec|15-Dec-23|      47013444|              SD|                EFT|       Not Available|             400|               0|
|             7|         23-Dec|22-Dec-23|      47030043|              SD|                EFT|       Not Available|             400|               0|
|             7|         23-Dec|22-Dec-23|      47033716|               1|            COUNTER|       Not Available|               0|            -600|
|             7|         23-Dec|29-Dec-23|      47043363|              SD|                EFT|       Not Available|             400|               0|
|            10|         23-Dec|05-Dec-23|      46991883|               1|            COUNTER|       Not Available|               0|       -2,117.03|
|            10|         23-Dec|05-Dec-23|      46991885|               1|            COUNTER|       Not Available|               0|            -500|
|            10|         23-Dec|22-Dec-23|      47033693|               1|            COUNTER|       Not Available|              75|               0|
|            10|         23-Dec|22-Dec-23|      47033696|               1|            COUNTER|       Not Available|               0|             -75|
|            14|         23-Dec|08-Dec-23|      47000799|               N|            COUNTER|       Not Available|               0|       -1,600.00|
|            14|         23-Dec|08-Dec-23|      47000859|               N|            COUNTER|Share transfer of...|        2,500.00|       -2,500.00|
|            14|         23-Dec|14-Dec-23|      47013019|               4|            COUNTER|       Not Available|              20|               0|
|            14|         23-Dec|21-Dec-23|      47029848|               4|            COUNTER|       Not Available|              20|               0|
|            14|         23-Dec|29-Dec-23|      47046109|               4|            COUNTER|       Not Available|              20|               0|
|            20|         23-Dec|06-Dec-23|      46993529|               N|            COUNTER|       Not Available|        1,100.00|               0|
|            33|         23-Dec|01-Dec-23|      46982272|             SCR|                EFT|       Not Available|           298.3|               0|
|            33|         23-Dec|01-Dec-23|      46984861|             SDD|                EFT|       Not Available|               0|             -15|
|            33|         23-Dec|01-Dec-23|      46984862|             SDD|                EFT|       Not Available|               0|             -15|
|            33|         23-Dec|01-Dec-23|      46985646|            TFER|      Not Available|       Not Available|              50|            -100|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+----------------+----------------+
only showing top 20 rows

In [10]:
trans_df.printSchema()

root
 |-- Account Number: string (nullable = true)
 |-- Financial Month: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Transaction No: string (nullable = true)
 |-- Transaction Type: string (nullable = true)
 |-- Trans Type Category: string (nullable = true)
 |-- Transaction Note: string (nullable = true)
 |-- Trans In Amount : string (nullable = true)
 |-- Trans Out Amount: string (nullable = true)

## Data Pre-Processing

In [14]:
trans_df = trans_df.withColumnRenamed('Trans In Amount ', 'TransInAmount')
trans_df = trans_df.withColumnRenamed('Trans Out Amount', 'TransOutAmount')

In [15]:
trans_df.show()

+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+
|Account Number|Financial Month|     Date|Transaction No|Transaction Type|Trans Type Category|    Transaction Note|TransInAmount|TransOutAmount|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+
|             7|         23-Dec|01-Dec-23|      46980801|              SD|                EFT|       Not Available|          400|             0|
|             7|         23-Dec|08-Dec-23|      46997807|              SD|                EFT|       Not Available|          400|             0|
|             7|         23-Dec|15-Dec-23|      47013444|              SD|                EFT|       Not Available|          400|             0|
|             7|         23-Dec|22-Dec-23|      47030043|              SD|                EFT|       Not Available|          400|             0|
|             7|         23-Dec|22-Dec-23|      47033716|               1|            COUNTER|       Not Available|            0|          -600|
|             7|         23-Dec|29-Dec-23|      47043363|              SD|                EFT|       Not Available|          400|             0|
|            10|         23-Dec|05-Dec-23|      46991883|               1|            COUNTER|       Not Available|            0|     -2,117.03|
|            10|         23-Dec|05-Dec-23|      46991885|               1|            COUNTER|       Not Available|            0|          -500|
|            10|         23-Dec|22-Dec-23|      47033693|               1|            COUNTER|       Not Available|           75|             0|
|            10|         23-Dec|22-Dec-23|      47033696|               1|            COUNTER|       Not Available|            0|           -75|
|            14|         23-Dec|08-Dec-23|      47000799|               N|            COUNTER|       Not Available|            0|     -1,600.00|
|            14|         23-Dec|08-Dec-23|      47000859|               N|            COUNTER|Share transfer of...|     2,500.00|     -2,500.00|
|            14|         23-Dec|14-Dec-23|      47013019|               4|            COUNTER|       Not Available|           20|             0|
|            14|         23-Dec|21-Dec-23|      47029848|               4|            COUNTER|       Not Available|           20|             0|
|            14|         23-Dec|29-Dec-23|      47046109|               4|            COUNTER|       Not Available|           20|             0|
|            20|         23-Dec|06-Dec-23|      46993529|               N|            COUNTER|       Not Available|     1,100.00|             0|
|            33|         23-Dec|01-Dec-23|      46982272|             SCR|                EFT|       Not Available|        298.3|             0|
|            33|         23-Dec|01-Dec-23|      46984861|             SDD|                EFT|       Not Available|            0|           -15|
|            33|         23-Dec|01-Dec-23|      46984862|             SDD|                EFT|       Not Available|            0|           -15|
|            33|         23-Dec|01-Dec-23|      46985646|            TFER|      Not Available|       Not Available|           50|          -100|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+
only showing top 20 rows

In [17]:
from pyspark.sql.functions import *
pattern = r"\,"
trans_df = trans_df.withColumn(
    "TransInAmount",
    regexp_replace(trans_df["TransInAmount"], pattern, "")  # Replace comma with empty string
)

trans_df = trans_df.withColumn(
    "TransOutAmount",
    regexp_replace(trans_df["TransOutAmount"], pattern, "")  # Replace comma with empty string
)

In [18]:
trans_df.show()

+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+
|Account Number|Financial Month|     Date|Transaction No|Transaction Type|Trans Type Category|    Transaction Note|TransInAmount|TransOutAmount|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+
|             7|         23-Dec|01-Dec-23|      46980801|              SD|                EFT|       Not Available|          400|             0|
|             7|         23-Dec|08-Dec-23|      46997807|              SD|                EFT|       Not Available|          400|             0|
|             7|         23-Dec|15-Dec-23|      47013444|              SD|                EFT|       Not Available|          400|             0|
|             7|         23-Dec|22-Dec-23|      47030043|              SD|                EFT|       Not Available|          400|             0|
|             7|         23-Dec|22-Dec-23|      47033716|               1|            COUNTER|       Not Available|            0|          -600|
|             7|         23-Dec|29-Dec-23|      47043363|              SD|                EFT|       Not Available|          400|             0|
|            10|         23-Dec|05-Dec-23|      46991883|               1|            COUNTER|       Not Available|            0|      -2117.03|
|            10|         23-Dec|05-Dec-23|      46991885|               1|            COUNTER|       Not Available|            0|          -500|
|            10|         23-Dec|22-Dec-23|      47033693|               1|            COUNTER|       Not Available|           75|             0|
|            10|         23-Dec|22-Dec-23|      47033696|               1|            COUNTER|       Not Available|            0|           -75|
|            14|         23-Dec|08-Dec-23|      47000799|               N|            COUNTER|       Not Available|            0|      -1600.00|
|            14|         23-Dec|08-Dec-23|      47000859|               N|            COUNTER|Share transfer of...|      2500.00|      -2500.00|
|            14|         23-Dec|14-Dec-23|      47013019|               4|            COUNTER|       Not Available|           20|             0|
|            14|         23-Dec|21-Dec-23|      47029848|               4|            COUNTER|       Not Available|           20|             0|
|            14|         23-Dec|29-Dec-23|      47046109|               4|            COUNTER|       Not Available|           20|             0|
|            20|         23-Dec|06-Dec-23|      46993529|               N|            COUNTER|       Not Available|      1100.00|             0|
|            33|         23-Dec|01-Dec-23|      46982272|             SCR|                EFT|       Not Available|        298.3|             0|
|            33|         23-Dec|01-Dec-23|      46984861|             SDD|                EFT|       Not Available|            0|           -15|
|            33|         23-Dec|01-Dec-23|      46984862|             SDD|                EFT|       Not Available|            0|           -15|
|            33|         23-Dec|01-Dec-23|      46985646|            TFER|      Not Available|       Not Available|           50|          -100|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+
only showing top 20 rows

# Calculate Columns from `Transaction File`

In [32]:
trans_df = trans_df.withColumn("TransactionTotal", col("TransInAmount") - col("TransOutAmount"))

trans_df = trans_df.withColumn(
    "TransactionPositiveTotal",
    when(col("TransactionTotal").isNull(), "").otherwise(abs(col("TransactionTotal")))
)

trans_df = trans_df.withColumn(
    "TransForMoneyMuleAndCombined",
    when(col("TransactionPositiveTotal") > MoneyMule, col("TransactionPositiveTotal")).otherwise(0)
)

trans_df = trans_df.withColumn(
    "Trans Incl",
    when(col("TransactionPositiveTotal") > 0, "Yes").otherwise("No")
)

trans_df = trans_df.withColumn(
    "Account_Not_In_Use",
    when(col("Account Number").isin(code_not_to_use), "No").otherwise("Yes")
)

trans_df = trans_df.withColumn(
    "SO_SCR",
    when(col("Transaction Type").isin(so_scr), col('Transaction Type')).otherwise("")
)

# previous value = SCR and current value = s0 and next value = s0

# trans_df = trans_df.withColumn(
#     "No1",
#     when(col("SO_SCR").isin(so_scr), "Y").otherwise("")
# )

# trans_df = trans_df.withColumn("index", monotonically_increasing_id())

In [33]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import col, lag, lead

windowSpec = Window.orderBy("Account Number")

# Add columns for previous and next values
df_with_prev_next = trans_df.withColumn("prev_value", lag("SO_SCR", 1).over(windowSpec)) \
    .withColumn("next_value", lead("SO_SCR", 1).over(windowSpec))

# Filter based on your conditions
df_filtered = df_with_prev_next.filter(
    (col("prev_value") == "SCR") &
    (col("SO_SCR") == "s0") &
    (col("next_value") == "s0")
)

# Show the result
df_with_prev_next.show(truncate=False)
df_filtered.write.csv('/Users/Marium_Faheem/Library/CloudStorage/OneDrive-McKinsey&Company/Desktop/learning/maham-df/df_filtered.csv', header=True, mode="overwrite")

24/03/11 01:08:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/11 01:08:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/11 01:08:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/11 01:08:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/11 01:08:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/11 01:08:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/11 01:08:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/11 01:08:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+--------------+---------------+---------+--------------+----------------+-------------------+----------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+----------+----------+
|Account Number|Financial Month|Date     |Transaction No|Transaction Type|Trans Type Category|Transaction Note|TransInAmount|TransOutAmount|TransactionTotal|TransactionPositiveTotal|TransForMoneyMuleAndCombined|Trans Incl|Account_Not_In_Use|SO_SCR|No1|index|prev_value|next_value|
+--------------+---------------+---------+--------------+----------------+-------------------+----------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+----------+----------+
|NULL          |NULL           |NULL     |NULL          |NULL            |NULL               |NULL            |NULL         |NULL          |NULL            |                        |0                           |No        |Yes               |      |   |66987|NULL      |          |
|NULL          |NULL           |NULL     |NULL          |NULL            |NULL               |NULL            |6717944.49   |-6544681.78   |1.326262627E7   |1.326262627E7           |1.326262627E7               |No        |Yes               |      |   |66988|          |          |
|10            |23-Dec         |05-Dec-23|46991883      |1               |COUNTER            |Not Available   |0            |-2117.03      |2117.03         |2117.03                 |2117.03                     |Yes       |Yes               |      |   |6    |          |          |
|10            |23-Dec         |05-Dec-23|46991885      |1               |COUNTER            |Not Available   |0            |-500          |500.0           |500.0                   |500.0                       |Yes       |Yes               |      |   |7    |          |          |
|10            |23-Dec         |22-Dec-23|47033693      |1               |COUNTER            |Not Available   |75           |0             |75.0            |75.0                    |75.0                        |Yes       |Yes               |      |   |8    |          |          |
|10            |23-Dec         |22-Dec-23|47033696      |1               |COUNTER            |Not Available   |0            |-75           |75.0            |75.0                    |75.0                        |Yes       |Yes               |      |   |9    |          |SO        |
|1000          |23-Dec         |01-Dec-23|46982713      |SO              |EFT                |Not Available   |40           |0             |40.0            |40.0                    |0                           |Yes       |Yes               |SO    |Y  |855  |          |SO        |
|1000          |23-Dec         |08-Dec-23|46999606      |SO              |EFT                |Not Available   |40           |0             |40.0            |40.0                    |0                           |Yes       |Yes               |SO    |Y  |856  |SO        |SO        |
|1000          |23-Dec         |15-Dec-23|47015220      |SO              |EFT                |Not Available   |40           |0             |40.0            |40.0                    |0                           |Yes       |Yes               |SO    |Y  |857  |SO        |SO        |
|1000          |23-Dec         |22-Dec-23|47031766      |SO              |EFT                |Not Available   |40           |0             |40.0            |40.0                    |0                           |Yes       |Yes               |SO    |Y  |858  |SO        |SO        |
|1000          |23-Dec         |29-Dec-23|47044936      |SO              |EFT                |Not Available   |40           |0             |40.0            |40.0                    |0                           |Yes       |Yes               |SO    |Y  |859  |SO        |          |
|10003         |23-Dec         |08-Dec-23|46998025      |SD              |EFT                |Not Available   |120          |0             |120.0           |120.0                   |120.0                       |Yes       |Yes               |      |   |10120|SO        |          |
|10006         |23-Dec         |01-Dec-23|46984133      |0               |COUNTER            |Not Available   |150          |0             |150.0           |150.0                   |150.0                       |Yes       |Yes               |      |   |10121|          |          |
|10006         |23-Dec         |07-Dec-23|46996840      |0               |COUNTER            |Not Available   |150          |0             |150.0           |150.0                   |150.0                       |Yes       |Yes               |      |   |10122|          |          |
|10006         |23-Dec         |15-Dec-23|47016791      |0               |COUNTER            |Not Available   |150          |0             |150.0           |150.0                   |150.0                       |Yes       |Yes               |      |   |10123|          |          |
|10006         |23-Dec         |22-Dec-23|47034297      |0               |COUNTER            |Not Available   |150          |0             |150.0           |150.0                   |150.0                       |Yes       |Yes               |      |   |10124|          |          |
|10006         |23-Dec         |29-Dec-23|47047342      |0               |COUNTER            |Not Available   |150          |0             |150.0           |150.0                   |150.0                       |Yes       |Yes               |      |   |10125|          |          |
|10009         |23-Dec         |04-Dec-23|46989449      |1               |COUNTER            |Not Available   |50           |0             |50.0            |50.0                    |0                           |Yes       |Yes               |      |   |10126|          |          |
|10009         |23-Dec         |14-Dec-23|47013194      |1               |COUNTER            |Not Available   |0            |-240          |240.0           |240.0                   |240.0                       |Yes       |Yes               |      |   |10127|          |          |
|10010         |23-Dec         |04-Dec-23|46989450      |1               |COUNTER            |Not Available   |20           |0             |20.0            |20.0                    |0                           |Yes       |Yes               |      |   |10128|          |          |
+--------------+---------------+---------+--------------+----------------+-------------------+----------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+----------+----------+
only showing top 20 rows

24/03/11 01:08:44 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/11 01:08:44 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [17]:
trans_df.show()

+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+
|Account Number|Financial Month|     Date|Transaction No|Transaction Type|Trans Type Category|    Transaction Note|TransInAmount|TransOutAmount|TransactionTotal|TransactionPositiveTotal|TransForMoneyMuleAndCombined|Trans Incl|Account_Not_In_Use|SO_SCR|No1|index|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+
|             7|         23-Dec|01-Dec-23|      46980801|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    0|
|             7|         23-Dec|08-Dec-23|      46997807|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    1|
|             7|         23-Dec|15-Dec-23|      47013444|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    2|
|             7|         23-Dec|22-Dec-23|      47030043|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    3|
|             7|         23-Dec|22-Dec-23|      47033716|               1|            COUNTER|       Not Available|            0|          -600|           600.0|                   600.0|                       600.0|       Yes|               Yes|      |   |    4|
|             7|         23-Dec|29-Dec-23|      47043363|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    5|
|            10|         23-Dec|05-Dec-23|      46991883|               1|            COUNTER|       Not Available|            0|      -2117.03|         2117.03|                 2117.03|                     2117.03|       Yes|               Yes|      |   |    6|
|            10|         23-Dec|05-Dec-23|      46991885|               1|            COUNTER|       Not Available|            0|          -500|           500.0|                   500.0|                       500.0|       Yes|               Yes|      |   |    7|
|            10|         23-Dec|22-Dec-23|      47033693|               1|            COUNTER|       Not Available|           75|             0|            75.0|                    75.0|                        75.0|       Yes|               Yes|      |   |    8|
|            10|         23-Dec|22-Dec-23|      47033696|               1|            COUNTER|       Not Available|            0|           -75|            75.0|                    75.0|                        75.0|       Yes|               Yes|      |   |    9|
|            14|         23-Dec|08-Dec-23|      47000799|               N|            COUNTER|       Not Available|            0|      -1600.00|          1600.0|                  1600.0|                      1600.0|       Yes|               Yes|      |   |   10|
|            14|         23-Dec|08-Dec-23|      47000859|               N|            COUNTER|Share transfer of...|      2500.00|      -2500.00|          5000.0|                  5000.0|                      5000.0|       Yes|               Yes|      |   |   11|
|            14|         23-Dec|14-Dec-23|      47013019|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   12|
|            14|         23-Dec|21-Dec-23|      47029848|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   13|
|            14|         23-Dec|29-Dec-23|      47046109|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   14|
|            20|         23-Dec|06-Dec-23|      46993529|               N|            COUNTER|       Not Available|      1100.00|             0|          1100.0|                  1100.0|                      1100.0|       Yes|               Yes|      |   |   15|
|            33|         23-Dec|01-Dec-23|      46982272|             SCR|                EFT|       Not Available|        298.3|             0|           298.3|                   298.3|                       298.3|       Yes|               Yes|   SCR|  Y|   16|
|            33|         23-Dec|01-Dec-23|      46984861|             SDD|                EFT|       Not Available|            0|           -15|            15.0|                    15.0|                           0|       Yes|               Yes|      |   |   17|
|            33|         23-Dec|01-Dec-23|      46984862|             SDD|                EFT|       Not Available|            0|           -15|            15.0|                    15.0|                           0|       Yes|               Yes|      |   |   18|
|            33|         23-Dec|01-Dec-23|      46985646|            TFER|      Not Available|       Not Available|           50|          -100|           150.0|                   150.0|                       150.0|       Yes|               Yes|      |   |   19|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+
only showing top 20 rows

In [18]:
# trans_df.withColumn(
#     "No2",
#     when((col("No1") == "Y") & (col('SO_SCR') == "SO" || "SCR"), "Y").otherwise("")
# ).show()
# trans_df.withColumn(
#     "No2",
#     when((col("No1") == "Y") & (col('SO_SCR').isin("SO", "SCR")), "Y").otherwise("")
# ).show()



trans_df.withColumn(
    "No2",
    when((col("No1") == "Y") & ((col('SO_SCR') == "SO") | (col('SO_SCR') == "SCR")), "Y").otherwise("")
).show()

+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+
|Account Number|Financial Month|     Date|Transaction No|Transaction Type|Trans Type Category|    Transaction Note|TransInAmount|TransOutAmount|TransactionTotal|TransactionPositiveTotal|TransForMoneyMuleAndCombined|Trans Incl|Account_Not_In_Use|SO_SCR|No1|index|No2|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+
|             7|         23-Dec|01-Dec-23|      46980801|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    0|   |
|             7|         23-Dec|08-Dec-23|      46997807|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    1|   |
|             7|         23-Dec|15-Dec-23|      47013444|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    2|   |
|             7|         23-Dec|22-Dec-23|      47030043|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    3|   |
|             7|         23-Dec|22-Dec-23|      47033716|               1|            COUNTER|       Not Available|            0|          -600|           600.0|                   600.0|                       600.0|       Yes|               Yes|      |   |    4|   |
|             7|         23-Dec|29-Dec-23|      47043363|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    5|   |
|            10|         23-Dec|05-Dec-23|      46991883|               1|            COUNTER|       Not Available|            0|      -2117.03|         2117.03|                 2117.03|                     2117.03|       Yes|               Yes|      |   |    6|   |
|            10|         23-Dec|05-Dec-23|      46991885|               1|            COUNTER|       Not Available|            0|          -500|           500.0|                   500.0|                       500.0|       Yes|               Yes|      |   |    7|   |
|            10|         23-Dec|22-Dec-23|      47033693|               1|            COUNTER|       Not Available|           75|             0|            75.0|                    75.0|                        75.0|       Yes|               Yes|      |   |    8|   |
|            10|         23-Dec|22-Dec-23|      47033696|               1|            COUNTER|       Not Available|            0|           -75|            75.0|                    75.0|                        75.0|       Yes|               Yes|      |   |    9|   |
|            14|         23-Dec|08-Dec-23|      47000799|               N|            COUNTER|       Not Available|            0|      -1600.00|          1600.0|                  1600.0|                      1600.0|       Yes|               Yes|      |   |   10|   |
|            14|         23-Dec|08-Dec-23|      47000859|               N|            COUNTER|Share transfer of...|      2500.00|      -2500.00|          5000.0|                  5000.0|                      5000.0|       Yes|               Yes|      |   |   11|   |
|            14|         23-Dec|14-Dec-23|      47013019|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   12|   |
|            14|         23-Dec|21-Dec-23|      47029848|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   13|   |
|            14|         23-Dec|29-Dec-23|      47046109|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   14|   |
|            20|         23-Dec|06-Dec-23|      46993529|               N|            COUNTER|       Not Available|      1100.00|             0|          1100.0|                  1100.0|                      1100.0|       Yes|               Yes|      |   |   15|   |
|            33|         23-Dec|01-Dec-23|      46982272|             SCR|                EFT|       Not Available|        298.3|             0|           298.3|                   298.3|                       298.3|       Yes|               Yes|   SCR|  Y|   16|  Y|
|            33|         23-Dec|01-Dec-23|      46984861|             SDD|                EFT|       Not Available|            0|           -15|            15.0|                    15.0|                           0|       Yes|               Yes|      |   |   17|   |
|            33|         23-Dec|01-Dec-23|      46984862|             SDD|                EFT|       Not Available|            0|           -15|            15.0|                    15.0|                           0|       Yes|               Yes|      |   |   18|   |
|            33|         23-Dec|01-Dec-23|      46985646|            TFER|      Not Available|       Not Available|           50|          -100|           150.0|                   150.0|                       150.0|       Yes|               Yes|      |   |   19|   |
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+
only showing top 20 rows

In [19]:
# Define a function to check the value of "No1" for the previous record
def check_previous_no1(index, no1_values):
    if index == 0:
        return ""
    else:
        return no1_values[index - 1]

# Register the function as a UDF
spark.udf.register("check_previous_no1", check_previous_no1)

# Add a new column "prev_No1" containing the value of "No1" from the previous record
trans_df = trans_df.withColumn("prev_No1", expr("check_previous_no1(index, collect_list(No1) over (order by index))"))

# Apply the condition based on the previous records of "No1" and "SO_SCR"
trans_df = trans_df.withColumn(
    "No2",
    when((col("No1") == "Y") & ((col('SO_SCR') == "SO") | (col('SO_SCR') == "SCR")) & (col("prev_No1") == "Y"), "Y").otherwise("")
)

# Drop the intermediate column "prev_No1" if not needed
trans_df = trans_df.drop("prev_No1")

# Show the DataFrame with the new "No2" column
trans_df.show()

+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+
|Account Number|Financial Month|     Date|Transaction No|Transaction Type|Trans Type Category|    Transaction Note|TransInAmount|TransOutAmount|TransactionTotal|TransactionPositiveTotal|TransForMoneyMuleAndCombined|Trans Incl|Account_Not_In_Use|SO_SCR|No1|index|No2|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+
|             7|         23-Dec|01-Dec-23|      46980801|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    0|   |
|             7|         23-Dec|08-Dec-23|      46997807|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    1|   |
|             7|         23-Dec|15-Dec-23|      47013444|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    2|   |
|             7|         23-Dec|22-Dec-23|      47030043|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    3|   |
|             7|         23-Dec|22-Dec-23|      47033716|               1|            COUNTER|       Not Available|            0|          -600|           600.0|                   600.0|                       600.0|       Yes|               Yes|      |   |    4|   |
|             7|         23-Dec|29-Dec-23|      47043363|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    5|   |
|            10|         23-Dec|05-Dec-23|      46991883|               1|            COUNTER|       Not Available|            0|      -2117.03|         2117.03|                 2117.03|                     2117.03|       Yes|               Yes|      |   |    6|   |
|            10|         23-Dec|05-Dec-23|      46991885|               1|            COUNTER|       Not Available|            0|          -500|           500.0|                   500.0|                       500.0|       Yes|               Yes|      |   |    7|   |
|            10|         23-Dec|22-Dec-23|      47033693|               1|            COUNTER|       Not Available|           75|             0|            75.0|                    75.0|                        75.0|       Yes|               Yes|      |   |    8|   |
|            10|         23-Dec|22-Dec-23|      47033696|               1|            COUNTER|       Not Available|            0|           -75|            75.0|                    75.0|                        75.0|       Yes|               Yes|      |   |    9|   |
|            14|         23-Dec|08-Dec-23|      47000799|               N|            COUNTER|       Not Available|            0|      -1600.00|          1600.0|                  1600.0|                      1600.0|       Yes|               Yes|      |   |   10|   |
|            14|         23-Dec|08-Dec-23|      47000859|               N|            COUNTER|Share transfer of...|      2500.00|      -2500.00|          5000.0|                  5000.0|                      5000.0|       Yes|               Yes|      |   |   11|   |
|            14|         23-Dec|14-Dec-23|      47013019|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   12|   |
|            14|         23-Dec|21-Dec-23|      47029848|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   13|   |
|            14|         23-Dec|29-Dec-23|      47046109|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   14|   |
|            20|         23-Dec|06-Dec-23|      46993529|               N|            COUNTER|       Not Available|      1100.00|             0|          1100.0|                  1100.0|                      1100.0|       Yes|               Yes|      |   |   15|   |
|            33|         23-Dec|01-Dec-23|      46982272|             SCR|                EFT|       Not Available|        298.3|             0|           298.3|                   298.3|                       298.3|       Yes|               Yes|   SCR|  Y|   16|   |
|            33|         23-Dec|01-Dec-23|      46984861|             SDD|                EFT|       Not Available|            0|           -15|            15.0|                    15.0|                           0|       Yes|               Yes|      |   |   17|   |
|            33|         23-Dec|01-Dec-23|      46984862|             SDD|                EFT|       Not Available|            0|           -15|            15.0|                    15.0|                           0|       Yes|               Yes|      |   |   18|   |
|            33|         23-Dec|01-Dec-23|      46985646|            TFER|      Not Available|       Not Available|           50|          -100|           150.0|                   150.0|                       150.0|       Yes|               Yes|      |   |   19|   |
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+
only showing top 20 rows

In [20]:
trans_df.withColumn(
    "No3",
    when((col("No1") == "Y") & ((col('No2') == "Y")), "Y").otherwise("")
)

DataFrame[Account Number: string, Financial Month: string, Date: string, Transaction No: string, Transaction Type: string, Trans Type Category: string, Transaction Note: string, TransInAmount: string, TransOutAmount: string, TransactionTotal: double, TransactionPositiveTotal: string, TransForMoneyMuleAndCombined: string, Trans Incl: string, Account_Not_In_Use: string, SO_SCR: string, No1: string, index: bigint, No2: string, No3: string]

In [21]:
from pyspark.sql.functions import lag, col, when
from pyspark.sql.window import Window

# Define a window specification to order the records
windowSpec = Window.orderBy('index')

# Add a new column "prev_Transaction_Total" containing the value of "Transaction Total" from the previous record
trans_df = trans_df.withColumn("prev_Transaction_Total", lag(col("TransactionTotal"), 1).over(windowSpec))

# Add a new column "No3" based on conditions of "No1" and "No2"
trans_df = trans_df.withColumn(
    "No3",
    when((col("No1") == "Y") & (col("No2") == "Y") & (col("TransactionTotal") == col("prev_Transaction_Total")), "Y").otherwise("")
)

# Drop the intermediate column "prev_Transaction_Total" if not needed
trans_df = trans_df.drop("prev_Transaction_Total")

# Show the DataFrame with the new "No3" column

In [22]:
trans_df = trans_df.drop("prev_Transaction_Total")

In [23]:
trans_df.show()

+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+---+
|Account Number|Financial Month|     Date|Transaction No|Transaction Type|Trans Type Category|    Transaction Note|TransInAmount|TransOutAmount|TransactionTotal|TransactionPositiveTotal|TransForMoneyMuleAndCombined|Trans Incl|Account_Not_In_Use|SO_SCR|No1|index|No2|No3|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+---+
|             7|         23-Dec|01-Dec-23|      46980801|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    0|   |   |
|             7|         23-Dec|08-Dec-23|      46997807|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    1|   |   |
|             7|         23-Dec|15-Dec-23|      47013444|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    2|   |   |
|             7|         23-Dec|22-Dec-23|      47030043|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    3|   |   |
|             7|         23-Dec|22-Dec-23|      47033716|               1|            COUNTER|       Not Available|            0|          -600|           600.0|                   600.0|                       600.0|       Yes|               Yes|      |   |    4|   |   |
|             7|         23-Dec|29-Dec-23|      47043363|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    5|   |   |
|            10|         23-Dec|05-Dec-23|      46991883|               1|            COUNTER|       Not Available|            0|      -2117.03|         2117.03|                 2117.03|                     2117.03|       Yes|               Yes|      |   |    6|   |   |
|            10|         23-Dec|05-Dec-23|      46991885|               1|            COUNTER|       Not Available|            0|          -500|           500.0|                   500.0|                       500.0|       Yes|               Yes|      |   |    7|   |   |
|            10|         23-Dec|22-Dec-23|      47033693|               1|            COUNTER|       Not Available|           75|             0|            75.0|                    75.0|                        75.0|       Yes|               Yes|      |   |    8|   |   |
|            10|         23-Dec|22-Dec-23|      47033696|               1|            COUNTER|       Not Available|            0|           -75|            75.0|                    75.0|                        75.0|       Yes|               Yes|      |   |    9|   |   |
|            14|         23-Dec|08-Dec-23|      47000799|               N|            COUNTER|       Not Available|            0|      -1600.00|          1600.0|                  1600.0|                      1600.0|       Yes|               Yes|      |   |   10|   |   |
|            14|         23-Dec|08-Dec-23|      47000859|               N|            COUNTER|Share transfer of...|      2500.00|      -2500.00|          5000.0|                  5000.0|                      5000.0|       Yes|               Yes|      |   |   11|   |   |
|            14|         23-Dec|14-Dec-23|      47013019|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   12|   |   |
|            14|         23-Dec|21-Dec-23|      47029848|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   13|   |   |
|            14|         23-Dec|29-Dec-23|      47046109|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   14|   |   |
|            20|         23-Dec|06-Dec-23|      46993529|               N|            COUNTER|       Not Available|      1100.00|             0|          1100.0|                  1100.0|                      1100.0|       Yes|               Yes|      |   |   15|   |   |
|            33|         23-Dec|01-Dec-23|      46982272|             SCR|                EFT|       Not Available|        298.3|             0|           298.3|                   298.3|                       298.3|       Yes|               Yes|   SCR|  Y|   16|   |   |
|            33|         23-Dec|01-Dec-23|      46984861|             SDD|                EFT|       Not Available|            0|           -15|            15.0|                    15.0|                           0|       Yes|               Yes|      |   |   17|   |   |
|            33|         23-Dec|01-Dec-23|      46984862|             SDD|                EFT|       Not Available|            0|           -15|            15.0|                    15.0|                           0|       Yes|               Yes|      |   |   18|   |   |
|            33|         23-Dec|01-Dec-23|      46985646|            TFER|      Not Available|       Not Available|           50|          -100|           150.0|                   150.0|                       150.0|       Yes|               Yes|      |   |   19|   |   |
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+---+
only showing top 20 rows

# Member File

In [24]:
member_df.show()

+--------------+------------+------------------+--------------------+---+-----------+--------------+---------+-----------+
|Account Number|Account Type| Employment Status| Employment Position|Age|Nationality|Account Status|Risk Code|Date Joined|
+--------------+------------+------------------+--------------------+---+-----------+--------------+---------+-----------+
|             7|      SINGLE|EMPLOYED FULL-TIME| CONSTRUCTION WORKER| 40|      IRISH|        ACTIVE|       LO|  11-Jan-90|
|            10|      SINGLE|           RETIRED|       Not Available| 84|      IRISH|        ACTIVE|       LO|  24-Jan-90|
|            14|      SINGLE|           RETIRED|STATE PENSION NON...| 78|      IRISH|        ACTIVE|       LO|  16-Feb-79|
|            20|      SINGLE|           RETIRED|       STATE PENSION| 78|      IRISH|        ACTIVE|       LO|  30-Oct-67|
|            33|      SINGLE|           RETIRED|       Not Available| 75|      IRISH|        ACTIVE|       LO|  18-Dec-67|
|            42|      SINGLE|           RETIRED|       Not Available| 75|      IRISH|        ACTIVE|       LO|  24-Feb-79|
|            46|      SINGLE|        UNEMPLOYED|       Not Available| 64|      IRISH|        ACTIVE|       LO|  25-Nov-92|
|            50|      SINGLE|           RETIRED| JOINT STATE PENSION| 80|      IRISH|        ACTIVE|       LO|  22-Nov-67|
|            53|      SINGLE|EMPLOYED PART-TIME|           SECRETARY| 56|      IRISH|        ACTIVE|       LO|  26-Jan-90|
|            67|      SINGLE|EMPLOYED FULL-TIME|   SOCIAL CARE WRKER| 34|      IRISH|        ACTIVE|       LO|  04-Oct-02|
|            68|      SINGLE|EMPLOYED FULL-TIME|             MANAGER| 55|      IRISH|        ACTIVE|       LO|  26-Jan-90|
|            76|      SINGLE|     Not Available|       Not Available| 76|      IRISH|        ACTIVE|       LO|  12-Jan-68|
|           105|      SINGLE|EMPLOYED FULL-TIME|     CUST.SERV MANGR| 60|      IRISH|        ACTIVE|       LO|  29-Jan-90|
|           114|      SINGLE|           RETIRED|       STATE PENSION| 70|      IRISH|        ACTIVE|       LO|  27-Jul-79|
|           127|      SINGLE|EMPLOYED PART-TIME|       Not Available| 64|      IRISH|        ACTIVE|       LO|  21-Apr-79|
|           141|      SINGLE|           RETIRED|       STATE PENSION| 80|      IRISH|        ACTIVE|       LO|  04-May-79|
|           147|      SINGLE|           RETIRED|             PENSION| 78|      IRISH|        ACTIVE|       LO|  11-Jan-68|
|           150|      SINGLE|        UNEMPLOYED|  DISSABILITY INCOME| 61|      IRISH|        ACTIVE|       LO|  31-Jan-90|
|           163|      SINGLE|           RETIRED|           PENSIONER| 71|      IRISH|        ACTIVE|       LO|  01-Feb-90|
|           165|      SINGLE|EMPLOYED FULL-TIME|             TEACHER| 40|      IRISH|        ACTIVE|       LO|  02-Feb-90|
+--------------+------------+------------------+--------------------+---+-----------+--------------+---------+-----------+
only showing top 20 rows

# Joining the table

In [25]:
member_trans_df = trans_df.join(member_df,trans_df['Account Number']==member_df['Account Number'], how="inner")

In [26]:
member_trans_df.show()

+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+---+--------------+------------+------------------+--------------------+---+-----------+--------------+---------+-----------+
|Account Number|Financial Month|     Date|Transaction No|Transaction Type|Trans Type Category|    Transaction Note|TransInAmount|TransOutAmount|TransactionTotal|TransactionPositiveTotal|TransForMoneyMuleAndCombined|Trans Incl|Account_Not_In_Use|SO_SCR|No1|index|No2|No3|Account Number|Account Type| Employment Status| Employment Position|Age|Nationality|Account Status|Risk Code|Date Joined|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+---+--------------+------------+------------------+--------------------+---+-----------+--------------+---------+-----------+
|             7|         23-Dec|01-Dec-23|      46980801|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    0|   |   |             7|      SINGLE|EMPLOYED FULL-TIME| CONSTRUCTION WORKER| 40|      IRISH|        ACTIVE|       LO|  11-Jan-90|
|             7|         23-Dec|08-Dec-23|      46997807|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    1|   |   |             7|      SINGLE|EMPLOYED FULL-TIME| CONSTRUCTION WORKER| 40|      IRISH|        ACTIVE|       LO|  11-Jan-90|
|             7|         23-Dec|15-Dec-23|      47013444|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    2|   |   |             7|      SINGLE|EMPLOYED FULL-TIME| CONSTRUCTION WORKER| 40|      IRISH|        ACTIVE|       LO|  11-Jan-90|
|             7|         23-Dec|22-Dec-23|      47030043|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    3|   |   |             7|      SINGLE|EMPLOYED FULL-TIME| CONSTRUCTION WORKER| 40|      IRISH|        ACTIVE|       LO|  11-Jan-90|
|             7|         23-Dec|22-Dec-23|      47033716|               1|            COUNTER|       Not Available|            0|          -600|           600.0|                   600.0|                       600.0|       Yes|               Yes|      |   |    4|   |   |             7|      SINGLE|EMPLOYED FULL-TIME| CONSTRUCTION WORKER| 40|      IRISH|        ACTIVE|       LO|  11-Jan-90|
|             7|         23-Dec|29-Dec-23|      47043363|              SD|                EFT|       Not Available|          400|             0|           400.0|                   400.0|                       400.0|       Yes|               Yes|      |   |    5|   |   |             7|      SINGLE|EMPLOYED FULL-TIME| CONSTRUCTION WORKER| 40|      IRISH|        ACTIVE|       LO|  11-Jan-90|
|            10|         23-Dec|05-Dec-23|      46991883|               1|            COUNTER|       Not Available|            0|      -2117.03|         2117.03|                 2117.03|                     2117.03|       Yes|               Yes|      |   |    6|   |   |            10|      SINGLE|           RETIRED|       Not Available| 84|      IRISH|        ACTIVE|       LO|  24-Jan-90|
|            10|         23-Dec|05-Dec-23|      46991885|               1|            COUNTER|       Not Available|            0|          -500|           500.0|                   500.0|                       500.0|       Yes|               Yes|      |   |    7|   |   |            10|      SINGLE|           RETIRED|       Not Available| 84|      IRISH|        ACTIVE|       LO|  24-Jan-90|
|            10|         23-Dec|22-Dec-23|      47033693|               1|            COUNTER|       Not Available|           75|             0|            75.0|                    75.0|                        75.0|       Yes|               Yes|      |   |    8|   |   |            10|      SINGLE|           RETIRED|       Not Available| 84|      IRISH|        ACTIVE|       LO|  24-Jan-90|
|            10|         23-Dec|22-Dec-23|      47033696|               1|            COUNTER|       Not Available|            0|           -75|            75.0|                    75.0|                        75.0|       Yes|               Yes|      |   |    9|   |   |            10|      SINGLE|           RETIRED|       Not Available| 84|      IRISH|        ACTIVE|       LO|  24-Jan-90|
|            14|         23-Dec|08-Dec-23|      47000799|               N|            COUNTER|       Not Available|            0|      -1600.00|          1600.0|                  1600.0|                      1600.0|       Yes|               Yes|      |   |   10|   |   |            14|      SINGLE|           RETIRED|STATE PENSION NON...| 78|      IRISH|        ACTIVE|       LO|  16-Feb-79|
|            14|         23-Dec|08-Dec-23|      47000859|               N|            COUNTER|Share transfer of...|      2500.00|      -2500.00|          5000.0|                  5000.0|                      5000.0|       Yes|               Yes|      |   |   11|   |   |            14|      SINGLE|           RETIRED|STATE PENSION NON...| 78|      IRISH|        ACTIVE|       LO|  16-Feb-79|
|            14|         23-Dec|14-Dec-23|      47013019|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   12|   |   |            14|      SINGLE|           RETIRED|STATE PENSION NON...| 78|      IRISH|        ACTIVE|       LO|  16-Feb-79|
|            14|         23-Dec|21-Dec-23|      47029848|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   13|   |   |            14|      SINGLE|           RETIRED|STATE PENSION NON...| 78|      IRISH|        ACTIVE|       LO|  16-Feb-79|
|            14|         23-Dec|29-Dec-23|      47046109|               4|            COUNTER|       Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |   14|   |   |            14|      SINGLE|           RETIRED|STATE PENSION NON...| 78|      IRISH|        ACTIVE|       LO|  16-Feb-79|
|            20|         23-Dec|06-Dec-23|      46993529|               N|            COUNTER|       Not Available|      1100.00|             0|          1100.0|                  1100.0|                      1100.0|       Yes|               Yes|      |   |   15|   |   |            20|      SINGLE|           RETIRED|       STATE PENSION| 78|      IRISH|        ACTIVE|       LO|  30-Oct-67|
|            33|         23-Dec|01-Dec-23|      46982272|             SCR|                EFT|       Not Available|        298.3|             0|           298.3|                   298.3|                       298.3|       Yes|               Yes|   SCR|  Y|   16|   |   |            33|      SINGLE|           RETIRED|       Not Available| 75|      IRISH|        ACTIVE|       LO|  18-Dec-67|
|            33|         23-Dec|01-Dec-23|      46984861|             SDD|                EFT|       Not Available|            0|           -15|            15.0|                    15.0|                           0|       Yes|               Yes|      |   |   17|   |   |            33|      SINGLE|           RETIRED|       Not Available| 75|      IRISH|        ACTIVE|       LO|  18-Dec-67|
|            33|         23-Dec|01-Dec-23|      46984862|             SDD|                EFT|       Not Available|            0|           -15|            15.0|                    15.0|                           0|       Yes|               Yes|      |   |   18|   |   |            33|      SINGLE|           RETIRED|       Not Available| 75|      IRISH|        ACTIVE|       LO|  18-Dec-67|
|            33|         23-Dec|01-Dec-23|      46985646|            TFER|      Not Available|       Not Available|           50|          -100|           150.0|                   150.0|                       150.0|       Yes|               Yes|      |   |   19|   |   |            33|      SINGLE|           RETIRED|       Not Available| 75|      IRISH|        ACTIVE|       LO|  18-Dec-67|
+--------------+---------------+---------+--------------+----------------+-------------------+--------------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+---+--------------+------------+------------------+--------------------+---+-----------+--------------+---------+-----------+
only showing top 20 rows

In [27]:
member_trans_df.filter(member_trans_df['Risk Code'] == "HI").show()

+--------------+---------------+---------+--------------+----------------+-------------------+----------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+---+--------------+------------+-----------------+--------------------+---+-----------+--------------+---------+-----------+
|Account Number|Financial Month|     Date|Transaction No|Transaction Type|Trans Type Category|Transaction Note|TransInAmount|TransOutAmount|TransactionTotal|TransactionPositiveTotal|TransForMoneyMuleAndCombined|Trans Incl|Account_Not_In_Use|SO_SCR|No1|index|No2|No3|Account Number|Account Type|Employment Status| Employment Position|Age|Nationality|Account Status|Risk Code|Date Joined|
+--------------+---------------+---------+--------------+----------------+-------------------+----------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+---+--------------+------------+-----------------+--------------------+---+-----------+--------------+---------+-----------+
|           788|         23-Dec|03-Dec-23|      46987301|            MP02|   ATM TRANSACTIONS|   Not Available|            0|          -150|           150.0|                   150.0|                       150.0|       Yes|               Yes|      |   |  734|   |   |           788|      SINGLE|          RETIRED|             RETIRED| 84|      IRISH|        ACTIVE|       HI|  05-Apr-90|
|           788|         23-Dec|07-Dec-23|      46994994|             SCR|                EFT|   Not Available|        58.85|             0|           58.85|                   58.85|                       58.85|       Yes|               Yes|   SCR|  Y|  735|   |   |           788|      SINGLE|          RETIRED|             RETIRED| 84|      IRISH|        ACTIVE|       HI|  05-Apr-90|
|           788|         23-Dec|14-Dec-23|      47010642|             SCR|                EFT|   Not Available|        58.85|             0|           58.85|                   58.85|                       58.85|       Yes|               Yes|   SCR|  Y|  736|  Y|  Y|           788|      SINGLE|          RETIRED|             RETIRED| 84|      IRISH|        ACTIVE|       HI|  05-Apr-90|
|           788|         23-Dec|18-Dec-23|      47020400|             SCR|                EFT|   Not Available|        58.85|             0|           58.85|                   58.85|                       58.85|       Yes|               Yes|   SCR|  Y|  737|  Y|  Y|           788|      SINGLE|          RETIRED|             RETIRED| 84|      IRISH|        ACTIVE|       HI|  05-Apr-90|
|           788|         23-Dec|24-Dec-23|      47036930|            MP03|                POS|   Not Available|            0|           -20|            20.0|                    20.0|                           0|       Yes|               Yes|      |   |  738|   |   |           788|      SINGLE|          RETIRED|             RETIRED| 84|      IRISH|        ACTIVE|       HI|  05-Apr-90|
|           788|         23-Dec|28-Dec-23|      47041457|             SCR|                EFT|   Not Available|        58.85|             0|           58.85|                   58.85|                       58.85|       Yes|               Yes|   SCR|  Y|  739|   |   |           788|      SINGLE|          RETIRED|             RETIRED| 84|      IRISH|        ACTIVE|       HI|  05-Apr-90|
|          1056|         23-Dec|04-Dec-23|      46989669|               N|            COUNTER|   Not Available|          150|             0|           150.0|                   150.0|                       150.0|       Yes|               Yes|      |   |  889|   |   |          1056|      SINGLE|          RETIRED|       STATE PENSION| 75|      IRISH|        ACTIVE|       HI|  10-May-90|
|          1056|         23-Dec|11-Dec-23|      47005915|               N|            COUNTER|   Not Available|          150|             0|           150.0|                   150.0|                       150.0|       Yes|               Yes|      |   |  890|   |   |          1056|      SINGLE|          RETIRED|       STATE PENSION| 75|      IRISH|        ACTIVE|       HI|  10-May-90|
|          1056|         23-Dec|18-Dec-23|      47021812|               N|            COUNTER|   Not Available|          150|             0|           150.0|                   150.0|                       150.0|       Yes|               Yes|      |   |  891|   |   |          1056|      SINGLE|          RETIRED|       STATE PENSION| 75|      IRISH|        ACTIVE|       HI|  10-May-90|
|          1406|         23-Dec|06-Dec-23|      46993488|               4|            COUNTER|   Not Available|          100|             0|           100.0|                   100.0|                       100.0|       Yes|               Yes|      |   | 1273|   |   |          1406|      SINGLE|          RETIRED|             RETIRED| 70|      IRISH|        ACTIVE|       HI|  02-Jun-81|
|          1406|         23-Dec|13-Dec-23|      47009522|               4|            COUNTER|   Not Available|          100|             0|           100.0|                   100.0|                       100.0|       Yes|               Yes|      |   | 1274|   |   |          1406|      SINGLE|          RETIRED|             RETIRED| 70|      IRISH|        ACTIVE|       HI|  02-Jun-81|
|          1406|         23-Dec|20-Dec-23|      47025894|               4|            COUNTER|   Not Available|          100|             0|           100.0|                   100.0|                       100.0|       Yes|               Yes|      |   | 1275|   |   |          1406|      SINGLE|          RETIRED|             RETIRED| 70|      IRISH|        ACTIVE|       HI|  02-Jun-81|
|          1406|         23-Dec|20-Dec-23|      47025895|               N|            COUNTER|   Not Available|          200|             0|           200.0|                   200.0|                       200.0|       Yes|               Yes|      |   | 1276|   |   |          1406|      SINGLE|          RETIRED|             RETIRED| 70|      IRISH|        ACTIVE|       HI|  02-Jun-81|
|          1406|         23-Dec|20-Dec-23|      47025897|               N|            COUNTER|   Not Available|            0|          -200|           200.0|                   200.0|                       200.0|       Yes|               Yes|      |   | 1277|   |   |          1406|      SINGLE|          RETIRED|             RETIRED| 70|      IRISH|        ACTIVE|       HI|  02-Jun-81|
|          1406|         23-Dec|29-Dec-23|      47046054|               4|            COUNTER|   Not Available|          100|             0|           100.0|                   100.0|                       100.0|       Yes|               Yes|      |   | 1278|   |   |          1406|      SINGLE|          RETIRED|             RETIRED| 70|      IRISH|        ACTIVE|       HI|  02-Jun-81|
|          1406|         23-Dec|29-Dec-23|      47046063|               N|            COUNTER|   Not Available|           10|             0|            10.0|                    10.0|                           0|       Yes|               Yes|      |   | 1279|   |   |          1406|      SINGLE|          RETIRED|             RETIRED| 70|      IRISH|        ACTIVE|       HI|  02-Jun-81|
|          1583|         23-Dec|05-Dec-23|      46991747|               1|            COUNTER|   Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   | 1369|   |   |          1583|      SINGLE|    SELF EMPLOYED|        HAIR DRESSER| 60|      IRISH|        ACTIVE|       HI|  28-Aug-81|
|          1583|         23-Dec|19-Dec-23|      47023731|               1|            COUNTER|   Not Available|           20|             0|            20.0|                    20.0|                           0|       Yes|               Yes|      |   | 1370|   |   |          1583|      SINGLE|    SELF EMPLOYED|        HAIR DRESSER| 60|      IRISH|        ACTIVE|       HI|  28-Aug-81|
|          1633|         23-Dec|01-Dec-23|      46985066|               1|            COUNTER|   Not Available|            0|          -600|           600.0|                   600.0|                       600.0|       Yes|               Yes|      |   | 1448|   |   |          1633|      SINGLE|       UNEMPLOYED|JOBSEEKERS ALLOWANCE| 59|      IRISH|        ACTIVE|       HI|  22-Jun-90|
|          1633|         23-Dec|14-Dec-23|      47012044|               1|            COUNTER|   Not Available|            0|          -670|           670.0|                   670.0|                       670.0|       Yes|               Yes|      |   | 1449|   |   |          1633|      SINGLE|       UNEMPLOYED|JOBSEEKERS ALLOWANCE| 59|      IRISH|        ACTIVE|       HI|  22-Jun-90|
+--------------+---------------+---------+--------------+----------------+-------------------+----------------+-------------+--------------+----------------+------------------------+----------------------------+----------+------------------+------+---+-----+---+---+--------------+------------+-----------------+--------------------+---+-----------+--------------+---------+-----------+
only showing top 20 rows

# Calculate Columns from `Member_trans_df`

In [28]:
member_trans_df = member_trans_df.withColumn(
    "HighRisk",
    when(col("Risk Code").isin(high_risk_categories), "Yes").otherwise("No")
)

# Account_Not_In_Use ki jaGw code_in_use ayeGw
member_trans_df = member_trans_df.withColumn("GreaterThan",
                               when((col("Account_Not_In_Use")=='Yes') & (col("Trans Incl")=='Yes') & ((col("TransInAmount") >= D_Criteria_Lower) & (col("TransInAmount")<= D_Criteria_Upper)), "Yes")
                               .otherwise("No"))

# Display the `member_trans_df` DataFrame

In [ ]:
member_trans_df.show()

### Verification of the Column Created

In [ ]:
member_trans_df.filter(col('GreaterThan') == "Yes").show(5)

In [ ]:
member_trans_df.filter(col('HighRisk') == "Yes").show(5)

In [ ]:
# code no tot use = yes
# trans incl yes
# high risk yes
# trans postive total > A_Crtiera

# Creteria Creation

In [ ]:
member_trans_df = member_trans_df.withColumn("A",
                                               when((col("Account_Not_In_Use")=="Yes") # Account_Not_In_Use ki jaga code_in_use ayeGw column
                                                    & (col("HighRisk")=="Yes")
                                                    & (col("TransactionPositiveTotal") > A_Criteria ), "A")
                                               .otherwise(None))

In [ ]:
counts_of_A = member_trans_df.filter(member_trans_df['A'] == 'A').count()
print("Count of records where column 'A' equals 'A':", counts_of_A)
print("==========================================================")